<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MatthiasToolbox.Indexer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <MatthiasToolbox.Indexer.Properties.Settings>
      <setting name="ServiceName" serializeAs="String">
        <value>MatthiasToolbox.Indexer.IndexUpdateService</value>
      </setting>
      <setting name="DataPaths" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>C:\TestData</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ServiceDisplayName" serializeAs="String">
        <value>MatthiasToolbox Index Update Service</value>
      </setting>
      <setting name="EventLogName" serializeAs="String">
        <value>MatthiasToolbox.Indexer.IndexUpdateService</value>
      </setting>
      <setting name="ServiceStartMode" serializeAs="String">
        <value>Automatic</value>
      </setting>
      <setting name="ServiceAccountType" serializeAs="String">
        <value>LocalSystem</value>
      </setting>
      <setting name="IndexConnectionString" serializeAs="String">
        <value>MatthiasToolbox.IndexDatabase.sdf</value>
      </setting>
      <setting name="DocumentResolverPluginName" serializeAs="String">
        <value>DocumentResolverPlugin.dll</value>
      </setting>
      <setting name="IndexUpdatingInterval" serializeAs="String">
        <value>1.00:00:00</value>
      </setting>
      <setting name="IndexUpdatingTime" serializeAs="String">
        <value>01/01/0001 01:00:00</value>
      </setting>
      <setting name="ControllerApplication" serializeAs="String">
        <value />
      </setting>
      <setting name="LastUpdate" serializeAs="String">
        <value />
      </setting>
      <setting name="UseDefaultResolversAsFallback" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InstallPath" serializeAs="String">
        <value>C:\Program Files\MatthiasToolbox\Indexer</value>
      </setting>
      <setting name="MultiThreadingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxThreadNumber" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ReadUncommitted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThreadNumber" serializeAs="String">
        <value>0</value>
      </setting>
    </MatthiasToolbox.Indexer.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model introduced in .NET Framework 4. -->
      <service name="MatthiasToolbox.Indexer.IndexUpdateService"
               behaviorConfiguration="UpdateServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/Indexer/Service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided by host: http://localhost:8000/Indexer/service  -->
        <endpoint address=""
                  binding="wsDualHttpBinding"
                  contract="MatthiasToolbox.Indexer.IUpdateService" />
        <!-- the mex endpoint is exposed at http://localhost:8000/Indexer/Service/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="UpdateServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>